[submodule "vcpkg"]
	path = vcpkg
	url = git://github.com/microsoft/vcpkg
[submodule "clap"]
	path = clap
	url = git://github.com/free-audio/clap
[submodule "clap-helpers"]
	path = clap-helpers
	url = git://github.com/free-audio/clap-helpers
